[Desktop Entry]
Name=Oxalis
Comment=A website building tool for Gnome
Exec=oxalis
Icon=oxalis
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Development;WebDevelopment;
